body {
  font-family: Cairo, sans-serif;
}

img {
  width: 100%;
  /* height: 500px; */
  margin-top: 50%;
  margin-bottom: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.text-custom-brown {
  color: rgb(0, 0, 0);
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: center;
}

.h-1\.5 {
  height: 0.375rem;
}

.w-1\.5 {
  width: 0.375rem;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-black {
  background-color: #000000;
}

.bg-custom-pink {
  background-color: #e5d5d5;
}

.space-x-1\.5> :not(:last-child) {
  margin-right: 0.375rem;
}

button {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 17.5rem;
  transition: background-color 0.3s ease;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container-accept {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #333333;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.bg-white {
  background-color: #ffffff;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

input {
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  width: 88%;
  max-width: 17.5rem;
  margin-bottom: 1rem;
  color: #6b7280;
  font-size: 0.875rem;
  font-family: Cairo, sans-serif;
  background-color: white;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: left;
  font-size: 18px;
  color: #4a2c2a;
  margin-bottom: 10px;
  margin-top: 30px;
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.code-inputs input {
  width: 20px;
  height: 30px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.code-box:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.booking-container-selectcar {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "Cairo", sans-serif;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin: 0;
}

.service-buttons-container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.service-buttons-container::-webkit-scrollbar {
  display: none;
}

.service-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  min-width: max-content;
}

.service-btn {
  flex: 0 0 auto;
  width: 200px;
  height: 150px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: Cairo, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left;
  padding: 10px;
}

.service-btn-select-car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  font-size: 16px;
}

.joborder_info {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  text-align: left;
  font-size: 15px;
  width: 100%;
  text-decoration: none;
}

.joborder_info span {
  font-size: 15px;
}

.jobsheet {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  text-align: left;
  font-size: 15px;
  width: 100%;
  text-decoration: none;
  margin: 0;
  font-weight: bold;
}

.jobsheet span {
  font-size: 20px;
  margin-right: 150px;
  margin-bottom: -3px;
}

.addcarbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: rgb(170, 179, 172);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  font-size: 25px;
}

.service-buttons-select-car {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.service-btn:hover {
  background-color: #218838;
}

.service-btn.selected {
  background-color: #218838;
}

.car-device {
  font-size: 18px;
  margin-bottom: 5px;
}

.car-model {
  font-size: 14px;
  opacity: 0.9;
}

.info-container {
  display: flex;
  align-items: center;
}

.swap {
  margin-left: 20px;
  /* margin-left: 300px;
    text-align: right; */
  margin-top: 15px;
  font-size: 20px;
}

.plate_number {
  font-size: 14px;
  opacity: 0.9;
}

.car-color {
  font-size: 14px;
  opacity: 0.8;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #218838;
}

.submit-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.min-h-screen {
  min-height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 17.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h1 {
  font-family: Cairo, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.select-wrapper {
  position: relative;
  width: 100%;
  max-width: 17.5rem;
}

select {
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem 0.75rem 1rem;
  width: 100%;
  color: #6b7280;
  font-size: 0.875rem;
  font-family: Cairo, sans-serif;
  background-color: white;
  text-align: left;
  display: block;
  appearance: none;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 1rem;
  transform: translateY(-180%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #6b7280;
  pointer-events: none;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

input::placeholder,
select option[disabled] {
  color: #6b7280;
}

a {
  text-align: left;
  font-family: Cairo, sans-serif;
  font-size: 0.75rem;
  color: #6b7280;
  text-decoration: underline;
  margin-bottom: 1rem;
  display: block;
}

.add-button {
  background-color: #16a34a;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  font-family: Cairo, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 17.5rem;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #15803d;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-gray-500 {
  color: #6b7280;
}

.text-xs {
  font-size: 0.75rem;
}

.uppercase {
  text-transform: uppercase;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.modal-close {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #6b7280;
  width: 10px;
}

.modal-close:hover {
  color: #000;
}

.booking-container {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-family: Cairo, sans-serif;
}

.header {
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.greeting-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.notification-icon {
  font-size: 20px;
  filter: grayscale(100%);
}

.joborder-icon {
  font-size: 20px;
  margin-left: 110px;
  filter: grayscale(100%);
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.branch-input,
.problem-input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Cairo, sans-serif;
}

.problem-input {
  height: 100px;
  resize: none;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.date-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date-input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: Cairo, sans-serif;
}

.datacar {
  text-align: left;
}

.service-btn span {
  display: block;
}

.booking-success-message {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.plate {
  width: 100px;
  height: 30px;
  border: solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: -220px;
  /* margin-left: 65px; */
  overflow: hidden;
  //box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}

.top {
  background-color: #0077c8;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.top .left {
  width: 50%;
  text-align: center;
}

.top .right {
  width: 50%;
  text-align: center;
  font-family: "Cairo", sans-serif;
}

.bottom {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding: 10px;
  font-family: "Cairo", sans-serif;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.separator {
  width: 3px;
  height: 60px;
  //margin-top: 6px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.numbers,
.letters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}

.progress-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ddd;
  z-index: -1;
  transform: translateY(-50%);
}

.progress-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin-left: 30px;
}

.progress-step span {
  display: block;
  white-space: normal;
  word-wrap: break-word;
}

.progress-container>div {
  flex: 0 1 auto;
  width: auto;
  display: inline-flex;
}

.step {
  text-align: center;
  width: 25%;
  position: relative;
}

.step .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
  font-size: 18px;
  color: white;
  margin-left: 60px;
}

.step.active .icon {
  background: #0d6efd;
}

.step.completed .icon {
  background: #28a745;
}

.step p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}